body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url('titlePageBackground.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font: 'Algerian';
    font-size: 48;
    text-align: center;
    color: white;
}