{% extends 'fortuneTeller/base.html' %}
{% block content %}
  <body>
    <h1>Fortune Teller</h1>
    <p>Welcome to the Fortune Teller.<br>
    Here you can find out your star sign and what your sign says about you!
    </p>

    <form class='home', action='', method='POST'>
      {% csrf_token %}
      <label id='usersBirthday'>Please enter your Birthday day. (Example 9 December)</label>
      <br>
      <div>
        {{ form }}
      </div>
      <div>
        <input type="submit", class='input' value="Look into the Crystal Ball">
      </div>
    </form>
  </body>
{% endblock content %}