{% extends 'fortuneTeller/base.html' %}
{% block content %}

  <h1>Aquarius</h1>
  <img src=>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>original, tolerant, ideal, calm, friendly, charitable, independent, smart, practical</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>changeful, disobedient, liberalistic, hasty, rebel</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Water carrier</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Air</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Uranus</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Bronze</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>22</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Black Pearl</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Gemini, Libra and Aquarius</td>
    </tr>
  </table>

{% endblock content %}