{% extends 'fortuneTeller/base.html' %}
{% block content %}

  <h1>Aries</h1>
  <img src=>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>hopeful, active, energetic, honest, versatile, brave, adventurous, passionate, generous, cheerful, argumentative, curious</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>impulsive, naive, self-willed, belligerent, impatient</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Ram</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Fire</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Mars</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Red</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>5</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Ruby</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Leo, Sagittarius and Aries</td>
    </tr>
  </table>

{% endblock content %}