{% extends 'fortuneTeller/base.html' %}
{% block content %}

  <h1>Cancer</h1>
  <img src=>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>with strong sixth sense, subjective, gentle, swift, imaginative, careful, dedicated, perseverant, kind, caring</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>greedy, possessive, sensitive, prim</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Crab</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Water</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Moon</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Green</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Pearl</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Pisces, Scorpio and Cancer</td>
    </tr>
  </table>

{% endblock content %}