{% extends 'fortuneTeller/base.html' %}
{% load static %}
{% block content %}

  <h1>Capricorn</h1>
  <img src={% static 'fortuneTeller/starSignPics/capricorn.jpg' %}>
  
    <table>
    <tr>
      <th>Strengths</th>
      <td>excellent, intelligent, practical, reliable, perseverant, generous, optimistic, cute, persistent</td>    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>stubborn, lonely, and suspicious</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Goat</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Saturn</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Brown, Black, Dark Green</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>4</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Black Jade</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Virgo, Taurus and Pisces</td>
    </tr>
  </table>

{% endblock content %}