{% extends 'fortuneTeller/base.html' %}
{% load static %}
{% block content %}

  <h1>Leo</h1>
  <img src={% static 'fortuneTeller/starSignPics/leo.jpg' %}>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>proud, charitable, reflective, loyal and enthusiastic</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>arrogant, vainglorious, indulgent, wasteful, willful, and self-complacent</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Lion</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Fire</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Sun</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Red, Gold, Yellow</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>19</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Gold</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Aries, Sagittarius and Leo</td>
    </tr>
  </table>

{% endblock content %}