{% extends 'fortuneTeller/base.html' %}
{% load static %}
{% block content %}

  <h1>Libra</h1>
  <img src={% static 'fortuneTeller/starSignPics/libra.jpg' %}>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>idealistic, equitable, just, strong social skills, aesthetic, charming, artistic, beautiful, kind-hearted</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>hesitant, narcissistic, lazy, perfunctory, freewheeling</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Scales</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Air</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Venus</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Brown</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>3</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Coral, Amber</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Aquarius, Gemini and Libra</td>
    </tr>
  </table>

{% endblock content %}