{% extends 'fortuneTeller/base.html' %}
{% block content %}

  <h1>Sagittarius</h1>
  <img src=>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>insightful, superior, rational, brave, beautiful, lively, lovely, optimistic</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>forgetful, careless, rash</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Archer</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Fire</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Jupiter</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Light Blue</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Amethyst</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Virgo, Leo and Aries</td>
    </tr>
  </table>

{% endblock content %}