{% extends 'fortuneTeller/base.html' %}
{% block content %}

  <h1>Scropio</h1>
  <img src=>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>mysterious, rational, intelligent, independent, intuitive, dedicated, insightful, charming, sensible</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>suspicious, fanatical, complicated, possessive, arrogant, self-willed, extreme</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Scorpion</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Water</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Pluto, Mars</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Purple, Black</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>4</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Jasper, Black Crystal</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Cancer, Capricorn and Pisces</td>
    </tr>
  </table>

{% endblock content %}