{% extends 'fortuneTeller/base.html' %}
{% block content %}

  <h1>Taurus</h1>
  <img src=>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>romantic, decisive, logical, diligent, ardent, patient, talented in art, perseverant, benevolent</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>prejudiced, dependent, stubborn</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Bull</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Venus</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Pink</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Emerald, Jade</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Capricorn, Virgo and Taurus</td>
    </tr>
  </table>

{% endblock content %}