{% extends 'fortuneTeller/base.html' %}
{% block content %}

  <h1>Virgo</h1>
  <img src=>
  
  <table>
    <tr>
      <th>Strengths</th>
      <td>helping, elegant, perfectionist, modest, practical, clearheaded</td>
    </tr>
    <tr>
      <th>Weaknesses</th>
      <td>picky, nosey, tortuous, confining</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>Virgin maiden</td>
    </tr>
    <tr>
      <th>Element</th>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Sign Ruler</th>
      <td>Mercury</td>
    </tr>
    <tr>
      <th>Lucky Colour</th>
      <td>Gray</td>
    </tr>
    <tr>
      <th>Lucky Number</th>
      <td>7</td>
    </tr>
    <tr>
      <th>Jewellery</th>
      <td>Sapphire, Amber</td>
    </tr>
    <tr>
      <th>Best Match</th>
      <td>Sagittarius, Taurus and Gemini</td>
    </tr>
  </table>

{% endblock content %}